table,th{
    border: 1px solid black;
    background-color: rgb(238, 196, 176);
    height: 100%;
    width: 100%;
    margin: 2px;
}
td{
    text-align: center;
    display: inline-block;
    background-color:rgb(198, 214, 221);
    width: 100%;
    padding: 10px;
    
}
a{
    padding: 15px;
}